In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame([[4,5,6],[5,7,8],[6,7,4]],index=['a','b','c'],columns=['x','y','z'])

In [4]:
df

   x  y  z
a  4  5  6
b  5  7  8
c  6  7  4

## csv=comma separated values

In [6]:
df.to_csv('new.csv')

In [7]:
df.to_csv('new1.csv',index=True)

In [8]:
df1=pd.read_csv('new1.csv')

In [9]:
print(df1)

  Unnamed: 0  x  y  z
0          a  4  5  6
1          b  5  7  8
2          c  6  7  4

In [22]:
df.to_excel('new.xlsx',sheet_name='sheet6')

In [27]:
df1=pd.read_excel('new.xlsx')

In [28]:
df1

  Unnamed: 0  x  y  z
0          a  4  5  6
1          b  5  7  8
2          c  6  7  4